@inherits LayoutComponentBase
<div class="container text-center">
    <div class=" d-flex align-self-center">
        <div clas="col"></div>
        <div clas="col">
            @Body
        </div>
        <div clas="col"></div>
    </div>
</div>